html, body { 
	height: 100%; 
	overflow: hidden;
	user-select: none;
}

body {
	background-color: #222;
}

* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	font-size: 100%;
	user-select: inherit;
	box-sizing: border-box;
}

